URL=''
URL_SUPPORT=''
SECRET_KEY=''
ALGORITHM=''
API_HOST=''
API_PORT=8000
API_PORT_SUPPORT=8001
SHOP_NAME=''
DESCR=''
ALLOW_ORIGIN=''
TESTING=True

SQLALCHEMY_DATABASE_URL=''

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
BROKER_URL=

KAFKA_HOST=''

TELEGRAM_BOT_TOKEN=

VERIFIED_TOPIC=
CHANGE_STATUS_TOPIC_TO_BOT=
CHANGE_STATUS_TOPIC_TO_SUPPORT=
ORDERS_TOPIC=
TG_VERIFIED_TOPIC=
GOODS_TO_BOT_TOPIC=
GOODS_VERIFY_DECISION_TOPIC=

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT_URL=
S3_PUBLIC_URL=
S3_REGION_NAME=