<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ shop_name }}{% endblock %}</title>
    {% if is_authenticated %}
    <meta name="user-id" content="{{ user_id }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', path='styles/base.css') }}?v=1.2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
    <div class="header-container">
        <div class="header-text-left">
        </div>
        <div class="header-text-center">
            <h1>{{ shop_name }}</h1>
            <p>{{ descr }}</p>
        </div>
            <div class="user-icon-container">
                {% if is_authenticated %}
                    <div class="user-icon" id="userIcon">
                        <img src="{{ url_for('static', path='/images/user_auth.png') }}"
                             alt="Меню пользователя"
                             title="Меню пользователя">
                        <div class="user-dropdown" id="userDropdown">
                            <a href="/auth/account?section=profile_tab" class="nav-link {% if active_section == 'profile_tab' %}active{% endif %}" data-section="profile">
                                Профиль
                            </a>
                            <a href="{{ url_for('logout') }}" class="logout">Выйти</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{{ url_for('create_auth_form') }}" class="user-icon">
                        <img src="{{ url_for('static', path='/images/user.png') }}"
                             alt="Войти"
                             title="Войти">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
    <nav>
        {% if is_authenticated %}
            <a href="{{ url_for('get_all_chats') }}">Все чаты</a> |
            <a href="{{ url_for('get_main_page') }}">Все заказы</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 {{ shop_name }}. Все права защищены.</p>
    </footer>

    {% block scripts %}
    {% endblock %}
    <script src="/static/js/base.js"></script>
</body>
</html>