<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ shop_name }}{% endblock %}</title>
    {% if is_authenticated %}
    <meta name="user-id" content="{{ user_id }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', path='styles/base.css') }}?v=1.2">
    <link rel="stylesheet" href="{{ url_for('static', path='styles/chat/chat.css') }}?v=1.2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-text-left">
            </div>
            <div class="header-text-center">
                <h1>{{ shop_name }}</h1>
                <p>{{ descr }}</p>
            </div>
            <div class="header-icons">
                {% if is_authenticated %}
                <div class="cart-icon-container">
                    <a href="{{ url_for('get_cart_html') }}" class="cart-icon">
                        <img src="{{ url_for('static', path='/images/cart.png') }}"
                             alt="Корзина"
                             title="Корзина">
                    </a>
                </div>
                {% endif %}
                <div class="user-icon-container">
                    {% if is_authenticated %}
                        <div class="user-icon" id="userIcon">
                            <img src="{{ url_for('static', path='/images/user_auth.png') }}"
                                 alt="Меню пользователя"
                                 title="Меню пользователя">
                            <div class="user-dropdown" id="userDropdown">
                                <a href="/auth/account?section=profile_tab" class="nav-link {% if active_section == 'profile_tab' %}active{% endif %}" data-section="profile">
                                    Профиль
                                </a>
                                <a href="{{ url_for('logout') }}" class="logout">Выйти</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ url_for('create_auth_form') }}" class="user-icon">
                            <img src="{{ url_for('static', path='/images/user.png') }}"
                                 alt="Войти"
                                 title="Войти">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <nav>
        <a href="/">Главная</a>
        {% if role == 'seller' %}
            <a href="{{ url_for('create_product_form') }}"> | Добавить товар</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 {{ shop_name }}. Все права защищены.</p>
    </footer>

    {% if is_authenticated %}
        <div id="chatButton" class="chat-button">
            <i class="fas fa-comments"></i>
        </div>

        <div id="chatModal" class="chat-modal">
            <div class="chat-modal-content">
                <div class="chat-header">
                    <h3>Чат поддержки</h3>
                    <div class="chat-controls">
                        <button id="closeChat" class="btn-icon" title="Закрыть"><i class="fas fa-window-minimize"></i></button>
                    </div>
                </div>
                <div class="chat-messages" id="chatMessages">
                    <div class="message-system">Загрузка истории чата...</div>
                </div>

                <div class="chat-bottom-panel">
                    <div class="chat-input">
                        <input type="text" id="messageInput" placeholder="Введите сообщение..." maxlength="500">
                        <button id="sendMessage" class="btn-send">Отправить</button>
                    </div>

                    <div class="chat-footer">
                        <button id="endChat" class="btn-end">Завершить чат</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block scripts %}
    {% endblock %}
    <script src="/static/js/base.js"></script>
    <script src="/static/js/chat/chat.js"></script>
</body>
</html>