<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/main.css') }}?v=1.0">

</head>
<body>
    <header>
        <h1>{{ shop_name }}</h1>
        <p>{{ descr }}</p>
    </header>

    <nav>
        <a href="{{ url }}">Главная</a> |
        <a href="{{ url_for('create_product_form') }}">Добавить товар</a>
    </nav>

    <main>
        <h2>Товары по категориям</h2>

        {% if categories_products %}
            {% for category_name, products in categories_products.items() %}
                <div class="category">
                    <h3>{{ category_name | title }}</h3>

                    <div class="products-grid">
                {% for product in products %}
                <div class="product-card" onclick="window.open('{{ url_for('product_detail_page', product_id=product.id) }}', '_blank')">
                    {% if product.image_url %}
                    <img src="{{ product.image_url }}" 
                        alt="{{ product.name }}"
                        loading="lazy"
                        onerror="this.onerror=null;this.src='{{ url_for('static', path='/images/default_image.png') }}'">
                    {% else %}
                    <img src="{{ url_for('static', path='/images/default_image.png') }}" 
                        alt="Нет изображения">
                    {% endif %}
                    
                    <h3>{{ product.name }}</h3>
                    <p class="product-description">{{ product.description|default("Нет описания", true) }}</p>
                    <p class="product-price">{{ product.price|default("Цена не указана", true) }} ₽</p>
                    <p class="product-stock {% if product.stock <= 0 %}out-of-stock{% endif %}">
                        {{ product.stock }} шт. в наличии
                    </p>
                </div>
                {% endfor %}
            </div>
                    
                    {% if products|length > 9 %}
                    <a href="{{ url_for('products_by_category', category_id=category_id) }}" class="view-all">
                        Посмотреть все товары в категории "{{ category_name | title }}"
                    </a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>Товары не найдены</p>
        {% endif %}
    </main>

    <footer>
        <p>&copy; 2025 {{ shop_name }}. Все права защищены.</p>
    </footer>
</body>
</html>